.hero {
    text-align: center;
    padding-bottom: 202px;
}

.hero__title {
    color: var(--primary-white-color);
    max-width: 696px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    padding-top: 106px;
    margin: 0 auto;
}

.overlay {
    background-color: #C4C4C4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/new_photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.hero__button {
    display: inline-block;
    border-radius: 4px;
    border: 0px;
    padding: 10px 32px;
    margin-top: 30px;
    text-align: center;
    min-width: 216px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #188CE8;
    }
}

