@media screen and (max-width: 767px) {
    .work-team {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        padding-left: 0;
    }
    
}

.work-team__title-foto {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
}

.work-team__text-foto {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.work-team__foto {
    display: block;
    width: 450px;
    height: 162px;
    padding-top: 30px;
    padding-bottom: 24px;
    border-top: none;
    background: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-links__link {
    display: block;
    padding: 11px 11px;
    margin: 0 10px 0 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
        fill: var(--primary-white-color);
    }
}

.work-team__card {
    display: block;
}

.section_color_grey {
    background-color: #F5F4FA;
}

.social-links {
    display: flex;
    width: 206px;
    height: 44px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .work-team {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
        padding-left: 0;
    }

    .work-team__item {
        flex-basis: calc((100% - 30px) / 2);
    }

    .work-team__foto {
        width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .work-team__item {
        flex-basis: calc((100% - 90px) / 4);
    }

    .work-team__foto {
        width: 270px;
        height: 168px;
    }
}




